  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <img src="/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal small divided link list">
        <p>vmarkuts, 2020</p>
    </div>
    </div>
  </div>
  </body>
</html>
