<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <!-- Include Editor style. -->
<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">
            <i class="angle double up icon"></i>
            <a href="/">
            Blog App
          </a>
        </div>
      </div>
      <a href="/" class="item">Home</a>
      <a href="/blogs/new" class="item">New Post</a>
    </div>
