i.icon {
  font-size: 2em;
}

.container.main {
  margin-top: 6em;
}

#delete {
  display: inline;
}

.myButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.editButton:hover {
  color: blue;
}

.deleteButton {
  color: red;
}

.deleteButton:hover {
  color: darkred;
}

.ui.vertical.footer.segment {
  padding-top: 3em;
  margin-top: 5em;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08) inset;
}

.ui.centered.mini.image {
  border-radius: 50%;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.15);
}

.fr-toolbar.fr-top {
  border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  -webkit-border-radius: 4px 4px 0 0 !important;
}

.fr-toolbar {
  border: 1px solid rgba(34,36,38,.15) !important;
}

.second-toolbar {
  border-radius: 0 0 4px 4px !important;
  -moz-border-radius: 0 0 4px 4px !important;
  -webkit-border-radius: 0 0 4px 4px !important;
  border: 1px solid rgba(34,36,38,.15) !important;
}

.fr-box.fr-basic .fr-wrapper {
  border-top: none !important;
  border-bottom: none !important;
  border-left: 1px solid rgba(34,36,38,.15) !important;
  border-right:   border: 1px solid rgba(34,36,38,.15) !important;
}
