i.icon {
  font-size: 2em;
}

.container.main {
  margin-top: 6em;
}

#delete {
  display: inline;
}

.myButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.editButton:hover {
  color: blue;
}

.deleteButton {
  color: red;
}

.deleteButton:hover {
  color: darkred;
}
